@charset "UTF-8";
/** @format */
/** @format */
/* global */
* {
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
}

header,
footer,
main {
  font-family: "Pattaya", sans-serif;
  color: black;
}

/* variables */
/**
 * /* header
 *
 * @format
 */
.header {
  display: flex;
  flex-direction: column;
}
.header__logo {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__navbar {
  background-color: #d1a5ef;
  margin-top: -5px;
}
.header__navbar ul {
  display: flex;
  flex-direction: row;
  padding: 10px 5px 10px 20px;
  list-style-type: none;
  margin: 0px;
  justify-content: center;
}
.header__navbar ul li {
  width: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
.header__navbar ul li a {
  text-decoration: none;
  color: black;
}
.header__navbar ul li a:hover {
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1900px) {
  .header__navbar {
    font-size: larger;
  }
}
/** @format */
.mainaccueil {
  padding: 20px;
}
.mainaccueil__texte {
  margin-bottom: 20px;
  text-align: center;
}

#articles {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
#articles a {
  text-decoration: none;
  color: black;
}

.produit {
  width: 40%;
  margin-bottom: 20px;
  margin-right: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: black;
}
.produit:hover {
  border-color: #d1a5ef;
  background-color: white;
}
.produit__name {
  font-size: large;
  font-weight: bold;
  color: #d1a5ef;
  text-align: center;
  margin-bottom: 10px;
}
.produit__name:hover {
  color: black;
}
.produit__price {
  text-align: center;
  margin-bottom: 10px;
  color: #d1a5ef;
}
.produit__price:hover {
  color: black;
}
.produit__imageUrl {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.produit__imageUrl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #articles {
    padding: 20px;
  }

  .produit {
    width: 100%;
    margin-right: 0px;
  }
  .produit__imageUrl {
    height: 180px;
  }
}
/**
 * /* footer
 *
 * @format
 */
.footer {
  background-color: black;
  height: 150px;
}
.footer__container {
  padding: 20px;
}
.footer__container__ligne {
  display: flex;
  align-items: center;
  width: 200px;
  margin-bottom: 8px;
}
.footer__container__ligne__icone {
  width: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.footer__container__ligne a {
  color: white;
  text-decoration: none;
}
.footer__container__ligne p {
  color: white;
}
.footer__container__ligne i {
  color: white;
}

/** @format */
.mainproduit {
  padding: 20px;
}
.mainproduit__texte {
  margin-bottom: 20px;
  text-align: center;
}
.mainproduit__boutoncmd {
  padding-top: 20px;
  text-align: center;
}
.mainproduit__boutoncmd :hover {
  cursor: pointer;
  color: black;
  background-color: #d1a5ef;
  border-color: #d1a5ef;
}
.mainproduit__boutoncmd button {
  color: #d1a5ef;
  background: black;
  border-color: black;
  border-radius: 20px;
  font-size: medium;
  width: 200px;
  height: 45px;
}

.produit__price {
  font-size: medium;
}
.produit__select {
  width: 100%;
  background: #d1a5ef;
  font-family: "Pattaya", sans-serif;
  font-size: medium;
  padding: 5px;
  border-radius: 0px 0px 8px 8px;
  border-color: transparent;
}

#choix {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

/** @format */
.mainpanier {
  padding: 20px;
  text-align: center;
}
.mainpanier__texte {
  margin-bottom: 20px;
  text-align: center;
}
.mainpanier__boutoncmd {
  padding-top: 20px;
  text-align: center;
}
.mainpanier__boutoncmd :hover {
  cursor: pointer;
  color: black;
  background-color: #d1a5ef;
  border-color: #d1a5ef;
}
.mainpanier__boutoncmd button {
  color: #d1a5ef;
  background: black;
  border-color: black;
  border-radius: 20px;
  font-size: medium;
  width: 200px;
  height: 45px;
}

.menu {
  display: flex;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: #d1a5ef;
  align-items: center;
}
.menu .menunomproduit {
  width: 40%;
}
.menu .menuprixproduit {
  width: 27%;
}

#listeproduits {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  margin-bottom: 10px;
}
#listeproduits #nomproduit {
  width: 40%;
}
#listeproduits #nomproduit p {
  height: 30px;
}
#listeproduits #prixproduit {
  width: 27%;
}
#listeproduits #prixproduit :after {
  content: "€";
}
#listeproduits #prixproduit p {
  height: 30px;
}
#listeproduits #boutonsupprimer {
  display: flex;
  flex-direction: column;
  width: 88px;
}
#listeproduits #boutonsupprimer button {
  background-color: white;
  color: #d1a5ef;
  border-radius: 10px;
  padding: 5px;
  border-color: #d1a5ef;
  height: 30px;
}
#listeproduits #boutonsupprimer button:hover {
  background-color: black;
}

#recapitulatifpanier {
  display: flex;
}
#recapitulatifpanier #montanttotaltexte {
  width: 40%;
}
#recapitulatifpanier #total {
  width: 27%;
}
#recapitulatifpanier #total :after {
  content: "€";
}

.viderpanier {
  margin-top: 20px;
}
.viderpanier button {
  background-color: white;
  color: #d1a5ef;
  border-radius: 10px;
  padding: 5px;
  border-color: #d1a5ef;
}
.viderpanier button:hover {
  background-color: black;
}

.formulaire {
  margin: 20px 0px 20px 0px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
.formulaire label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
.formulaire input,
.formulaire textarea {
  width: 80%;
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}
.formulaire input:focus,
.formulaire textarea:focus {
  background-color: #d1a5ef;
  border-color: black;
}
.formulaire input:hover,
.formulaire textarea:hover {
  border-color: black;
}

#boutonformulaire {
  margin-top: 10px;
}
#boutonformulaire button {
  width: 88px;
  background-color: white;
  color: #d1a5ef;
  border-radius: 10px;
  padding: 5px;
  border-color: #d1a5ef;
  height: 30px;
}
#boutonformulaire button:hover {
  background-color: black;
}

.mainconfirmation {
  padding: 20px;
  text-align: center;
}
.mainconfirmation__texte {
  text-align: center;
}
.mainconfirmation__texte h1, .mainconfirmation__texte h2 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
