/** @format */

.mainaccueil {
  padding: 20px;

  &__texte {
    margin-bottom: 20px;
    text-align: center;
  }
}  
#articles {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;

  }
}

.produit {
  width: 40%;
  margin-bottom: 20px;
  margin-right: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: black;
  
  &:hover {
    border-color:$violet;
    background-color: white;
  }

  &__name {
    font-size: large;
    font-weight: bold;
    color: $violet;
    text-align: center;
    margin-bottom: 10px;
    &:hover {
      color: black;
    }
  }

  &__price {
    text-align: center;
    margin-bottom: 10px;
    color: $violet;
        &:hover {
      color: black;
    }
  }

  &__imageUrl {
    height: 250px;
    width: 100%;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #articles {
    padding: 20px;
  }
  .produit {
    width: 100%;
    margin-right: 0px;
    &__imageUrl {
      height: 180px;
    }  
  }
}
