/** @format */

/* global */
* {
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
}

header,
footer,
main {
  font-family: "Pattaya", sans-serif;
  color: black;
}

/* variables */
$orange: #f1a32f;
$violet: #d1a5ef;
