/** @format */

.mainpanier {
  padding: 20px;
  text-align: center;

  &__texte {
    margin-bottom: 20px;
    text-align: center;
  }

  &__boutoncmd {
    padding-top: 20px;
    text-align: center;
    & :hover {
      cursor: pointer;
      color: black;
      background-color: $violet;
      border-color: $violet;
    }

    button {
      color: $violet;
      background: black;
      border-color: black;
      border-radius: 20px;
      font-size: medium;
      width: 200px;
      height: 45px;
    }
  }
}

// MENU TABLEAU PANIER
.menu {
  display: flex;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: $violet;
  align-items: center;
  .menunomproduit {
    width: 40%;
  }
  .menuprixproduit{
    width: 27%;
  }

}

// LISTE PRODUITS PANIERS
#listeproduits {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  margin-bottom: 10px;

  #nomproduit {
    width: 40%;
    p {
      height: 30px;
    }
  }
  #prixproduit {
    :after{ content:'€'; 
    }
    width: 27%;
    p {
      height: 30px;
    }
  }
  #boutonsupprimer {
    display: flex;
    flex-direction: column;
    width: 88px;
    
    button {
      background-color: white;
      color:$violet;
      border-radius: 10px;
      padding: 5px;
      border-color: $violet;
      height: 30px;
      &:hover {
        background-color: black;
      }
    }
  }
}

// RECAP PANIER MONTANT
#recapitulatifpanier {
  display: flex;
  #montanttotaltexte {
    width: 40%;
  }
  #total {
    :after{ content:'€'; 
    }
    width: 27%;
  }
}

.viderpanier {
  margin-top: 20px;
  button{
    background-color: white;
    color:$violet;
    border-radius: 10px;
    padding: 5px;
    border-color: $violet;
    &:hover {
      background-color: black;
    }
  }
}

//FORMULAIRE
.formulaire {
  margin: 20px 0px 20px 0px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;

  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
  textarea {
    width: 80%;
    font: 1em sans-serif;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    background-color: $violet;
    border-color: black;
  }
  input:hover,
  textarea:hover {
    border-color: black;
  }
}

#boutonformulaire {
  margin-top: 10px;
  
  button {
    width: 88px;
    background-color: white;
    color:$violet;
    border-radius: 10px;
    padding: 5px;
    border-color: $violet;
    height: 30px;
    &:hover {
      background-color: black;
    }
  }
}






