/** @format */

.mainproduit {
  padding: 20px;

  &__texte {
    margin-bottom: 20px;
    text-align: center;
  }

  &__boutoncmd {
    padding-top: 20px;
    text-align: center;
    & :hover {
      cursor: pointer;
      color: black;
      background-color: $violet;
      border-color: $violet;
    }

    button {
      color: $violet;
      background: black;
      border-color: black;
      border-radius: 20px;
      font-size: medium;
      width: 200px;
      height: 45px;
    }
  }
}

.produit {
  &__price {
    font-size: medium;
  }
  &__select {
    width: 100%;
    background: $violet;
    font-family: "Pattaya", sans-serif;
    font-size: medium;
    padding: 5px;
    border-radius: 0px 0px 8px 8px;
    border-color: transparent;
  }
}

#choix {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
